<a href="https://colab.research.google.com/github/zahra-ziaei/fast-fashion-project/blob/main/simply_southern_daily_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [194]:
from google.colab import files
uploaded = files.upload()

Saving Entrance_0021ac0419170046_Export_Jan-31-2022-to-Feb-28-2022.csv to Entrance_0021ac0419170046_Export_Jan-31-2022-to-Feb-28-2022.csv

In [196]:
entrance_May=pd.read_csv('Entrance_0021ac0419170046_Export_Apr-30-2022-to-May-30-2022_3322.csv')
entrance_Apr=pd.read_csv('Entrance_0021ac0419170046_Export_Mar-31-2022-to-Apr-30-2022.csv')
entrance_March=pd.read_csv('Entrance_0021ac0419170046_Export_Feb-28-2022-to-Mar-31-2022.csv')
entrance_Feb=pd.read_csv('Entrance_0021ac0419170046_Export_Jan-31-2022-to-Feb-28-2022.csv')

In [200]:
entrance = pd.concat([entrance_May,entrance_Apr,entrance_March,entrance_Feb])

In [207]:
entrance.tail()

,Timestamp(America/New_York),In,Out,Entrance L1,Entrance L2,Entrance L3,Entrance L4,Entrance L5,Entrance L6,date,month,day,hour,minute,day in week
17525,"Feb 16, 2022, 03:13:01 PM EST",1503,1507,5,1,6,11,6,0,2022-02-16 15:13:01,2,16,15,13,2
17526,"Feb 16, 2022, 03:12:01 PM EST",1503,1507,5,1,6,11,6,0,2022-02-16 15:12:01,2,16,15,12,2
17527,"Feb 16, 2022, 03:11:01 PM EST",1503,1507,5,1,6,11,6,0,2022-02-16 15:11:01,2,16,15,11,2
17528,"Feb 16, 2022, 03:10:01 PM EST",1503,1507,5,1,6,11,6,0,2022-02-16 15:10:01,2,16,15,10,2
17529,"Feb 16, 2022, 03:09:01 PM EST",1503,1507,5,1,6,11,6,0,2022-02-16 15:09:01,2,16,15,9,2

In [204]:
entrance['date'] = pd.to_datetime(entrance['Timestamp(America/New_York)'])

/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname EDT identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)
/usr/local/lib/python3.7/dist-packages/dateutil/parser/_parser.py:1212: UnknownTimezoneWarning: tzname EST identified but not understood.  Pass `tzinfos` argument in order to correctly return a timezone-aware datetime.  In a future version, this will raise an exception.
  category=UnknownTimezoneWarning)

In [205]:
entrance['month']= entrance['date'].dt.month
entrance['day']= entrance['date'].dt.day
entrance['hour']= entrance['date'].dt.hour
entrance['minute']= entrance['date'].dt.minute
entrance['day in week']= entrance['date'].dt.dayofweek

In [215]:
entrance = entrance[entrance['date'] >= '2022-02-17']
entrance.tail()

,Timestamp(America/New_York),In,Out,Entrance L1,Entrance L2,Entrance L3,Entrance L4,Entrance L5,Entrance L6,date,month,day,hour,minute,day in week
16993,"Feb 17, 2022, 12:04:03 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 00:04:03,2,17,0,4,3
16994,"Feb 17, 2022, 12:03:03 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 00:03:03,2,17,0,3,3
16995,"Feb 17, 2022, 12:02:03 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 00:02:03,2,17,0,2,3
16996,"Feb 17, 2022, 12:01:03 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 00:01:03,2,17,0,1,3
16997,"Feb 17, 2022, 12:00:04 AM EST",1531,1569,8,2,7,17,6,1,2022-02-17 00:00:04,2,17,0,0,3

In [225]:
daily_visit.tail

<bound method NDFrame.tail of          Timestamp(America/New_York)     In    Out  Entrance L1  Entrance L2  \
328    May 30, 2022, 04:04:00 AM EDT  17473  23500          794          951
1765   May 29, 2022, 04:04:01 AM EDT  17190  23224          792          948
3204   May 28, 2022, 04:04:01 AM EDT  16713  22753          773          931
4643   May 27, 2022, 04:04:02 AM EDT  16409  22443          761          927
6089   May 26, 2022, 04:04:07 AM EDT  16175  22216          756          918
...                              ...    ...    ...          ...          ...
10998  Feb 21, 2022, 04:04:01 AM EST   2174   2633           42           31
12436  Feb 20, 2022, 04:04:02 AM EST   2010   2378           34           21
13876  Feb 19, 2022, 04:04:03 AM EST   1725   1897           22            6
15313  Feb 18, 2022, 04:04:03 AM EST   1600   1690           16            5
16753  Feb 17, 2022, 04:04:03 AM EST   1531   1569            8            2

       Entrance L3  Entrance L4  Entrance L5  Entrance L6                date  \
328           1120         3818         1579         1911 2022-05-30 04:04:00
1765          1102         3781         1555         1906 2022-05-29 04:04:01
3204          1080         3671         1515         1881 2022-05-28 04:04:01
4643          1069         3621         1497         1848 2022-05-27 04:04:02
6089          1054         3567         1477         1829 2022-05-26 04:04:07
...            ...          ...          ...          ...                 ...
10998           26           72           62           46 2022-02-21 04:04:01
12436           22           62           55           39 2022-02-20 04:04:02
13876           12           40           28           16 2022-02-19 04:04:03
15313           11           29           18           11 2022-02-18 04:04:03
16753            7           17            6            1 2022-02-17 04:04:03

       ...  Entrance L5_lag_1  Entrance L6_lag_1  daily_Out  daily_In  \
328    ...                NaN                NaN        NaN       NaN
1765   ...             1579.0             1911.0      276.0     283.0
3204   ...             1555.0             1906.0      471.0     477.0
4643   ...             1515.0             1881.0      310.0     304.0
6089   ...             1497.0             1848.0      227.0     234.0
...    ...                ...                ...        ...       ...
10998  ...               73.0               51.0      212.0     105.0
12436  ...               62.0               46.0      255.0     164.0
13876  ...               55.0               39.0      481.0     285.0
15313  ...               28.0               16.0      207.0     125.0
16753  ...               18.0               11.0      121.0      69.0

       daily_L1  daily_L2  daily_L3  daily_L4  daily_L5  daily_L6
328         NaN       NaN       NaN       NaN       NaN       NaN
1765        2.0       3.0      18.0      37.0      24.0       5.0
3204       19.0      17.0      22.0     110.0      40.0      25.0
4643       12.0       4.0      11.0      50.0      18.0      33.0
6089        5.0       9.0      15.0      54.0      20.0      19.0
...         ...       ...       ...       ...       ...       ...
10998      10.0      17.0      20.0      28.0      11.0       5.0
12436       8.0      10.0       4.0      10.0       7.0       7.0
13876      12.0      15.0      10.0      22.0      27.0      23.0
15313       6.0       1.0       1.0      11.0      10.0       5.0
16753       8.0       3.0       4.0      12.0      12.0      10.0

[103 rows x 31 columns]>

In [220]:
daily_visit=entrance.loc[(entrance.minute<5)&(entrance.hour==4) ]

In [221]:
daily_visit.drop_duplicates(keep='first',subset=['month','day'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [222]:
daily_visit["Out_lag_1"] = daily_visit["Out"].shift(1)
daily_visit["In_lag_1"] = daily_visit["In"].shift(1)
daily_visit["Entrance L1_lag_1"] = daily_visit['Entrance L1'].shift(1)
daily_visit["Entrance L2_lag_1"] = daily_visit["Entrance L2"].shift(1)
daily_visit["Entrance L3_lag_1"] = daily_visit["Entrance L3"].shift(1)
daily_visit["Entrance L4_lag_1"] = daily_visit["Entrance L4"].shift(1)
daily_visit["Entrance L5_lag_1"] = daily_visit["Entrance L5"].shift(1)
daily_visit["Entrance L6_lag_1"] = daily_visit["Entrance L6"].shift(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [223]:
daily_visit['daily_Out']=daily_visit["Out_lag_1"] -daily_visit["Out"]
daily_visit['daily_In']=daily_visit["In_lag_1"] - daily_visit["In"]
daily_visit['daily_L1']=daily_visit["Entrance L1_lag_1"]- daily_visit['Entrance L1']
daily_visit['daily_L2']=daily_visit["Entrance L2_lag_1"] - daily_visit["Entrance L2"]
daily_visit['daily_L3']=daily_visit["Entrance L3_lag_1"] - daily_visit["Entrance L3"]
daily_visit['daily_L4']=daily_visit["Entrance L4_lag_1"] - daily_visit["Entrance L4"]
daily_visit['daily_L5']=daily_visit["Entrance L5_lag_1"] - daily_visit["Entrance L5"]
daily_visit['daily_L6']=daily_visit["Entrance L6_lag_1"] - daily_visit["Entrance L6"]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [226]:
daily_visit.drop(['In', 'Out', 'Entrance L1',  'Entrance L2', 'Entrance L3', 'Entrance L4', 'Entrance L5', 'Entrance L6','Out_lag_1','In_lag_1',
'Entrance L1_lag_1', 'Entrance L2_lag_1', 'Entrance L3_lag_1', 'Entrance L4_lag_1', 'Entrance L5_lag_1', 'Entrance L6_lag_1','Timestamp(America/New_York)'], axis=1, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [227]:
daily_visit=daily_visit.reset_index(drop=True)

In [229]:
daily_visit.head()

,date,month,day,hour,minute,day in week,daily_Out,daily_In,daily_L1,daily_L2,daily_L3,daily_L4,daily_L5,daily_L6
0,2022-05-30 04:04:00,5,30,4,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-29 04:04:01,5,29,4,4,6,276.0,283.0,2.0,3.0,18.0,37.0,24.0,5.0
2,2022-05-28 04:04:01,5,28,4,4,5,471.0,477.0,19.0,17.0,22.0,110.0,40.0,25.0
3,2022-05-27 04:04:02,5,27,4,4,4,310.0,304.0,12.0,4.0,11.0,50.0,18.0,33.0
4,2022-05-26 04:04:07,5,26,4,4,3,227.0,234.0,5.0,9.0,15.0,54.0,20.0,19.0

In [230]:
daily_visit.to_csv('daily_all.csv')
files.download('daily_all.csv')

In [231]:
weekly_visit=daily_visit.resample("W", on='date').sum()

In [239]:
montly_visit=daily_visit.resample('M', on='date').sum()

In [240]:
montly_visit.head(20)

,month,day,hour,minute,day in week,daily_Out,daily_In,daily_L1,daily_L2,daily_L3,daily_L4,daily_L5,daily_L6
date,,,,,,,,,,,,,
2022-02-28,24,270,48,48,39,2735.0,1610.0,84.0,95.0,101.0,280.0,136.0,99.0
2022-03-31,93,496,124,124,90,5753.0,3410.0,243.0,235.0,247.0,877.0,361.0,345.0
2022-04-30,120,465,120,119,93,6148.0,3660.0,251.0,355.0,394.0,1314.0,495.0,895.0
2022-05-31,150,465,120,120,90,7295.0,7262.0,208.0,264.0,371.0,1330.0,581.0,571.0

In [237]:
weekly_visit=weekly_visit[weekly_visit['day in week']==21]

In [238]:
weekly_visit.head(20)

,month,day,hour,minute,day in week,daily_Out,daily_In,daily_L1,daily_L2,daily_L3,daily_L4,daily_L5,daily_L6
date,,,,,,,,,,,,,
2022-02-27,14,168,28,28,21,1564.0,900.0,47.0,64.0,78.0,212.0,73.0,51.0
2022-03-06,20,49,28,28,21,1389.0,828.0,65.0,55.0,59.0,247.0,89.0,42.0
2022-03-13,21,70,28,28,21,1255.0,772.0,57.0,61.0,55.0,145.0,76.0,56.0
2022-03-20,21,119,28,28,21,1356.0,816.0,50.0,42.0,54.0,206.0,79.0,109.0
2022-03-27,21,168,28,28,21,1384.0,787.0,55.0,52.0,70.0,229.0,99.0,100.0
2022-04-03,24,124,28,28,21,1285.0,781.0,58.0,66.0,46.0,207.0,66.0,137.0
2022-04-10,28,49,28,28,21,1199.0,637.0,63.0,124.0,78.0,324.0,102.0,411.0
2022-04-17,28,98,28,28,21,1538.0,859.0,65.0,101.0,106.0,289.0,111.0,82.0
2022-04-24,28,147,28,27,21,1534.0,858.0,51.0,42.0,84.0,278.0,112.0,41.0
2022-05-01,29,166,28,28,21,1332.0,1059.0,36.0,58.0,109.0,320.0,149.0,303.0
2022-05-08,35,35,28,28,21,2094.0,2091.0,31.0,100.0,137.0,480.0,213.0,281.0
2022-05-15,35,84,28,28,21,1611.0,1592.0,56.0,44.0,53.0,227.0,90.0,57.0
2022-05-22,35,133,28,28,21,1595.0,1574.0,53.0,64.0,79.0,259.0,126.0,82.0
2022-05-29,35,182,28,28,21,1731.0,1745.0,65.0,47.0,86.0,323.0,132.0,113.0